<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!--[if lt IE 8]>
    <p class="browsehappy">ブラウザを最新にしてください. <a href="http://browsehappy.com/">ブラウザの更新方法</a></p>
  <![endif]-->
  <div id="app-main">
    <navbar :inverted="false"></navbar>
    <router-view>loading...</router-view>
  </div>
</body>

</html>
